<div *ngIf="!isPatientLoggedIn && !isDoctorLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <a class="navbar-brand" (click)="logout()">Medical App</a>
    <span class="spacer"></span>
    <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>

<div *ngIf="isDoctorLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <a class="navbar-brand" (click)="logout()">Medical App</a>
    <span class="user-role">Doctor</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/doctor/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/doctor/visit" routerLinkActive="active">Plan Visit</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<div *ngIf="isPatientLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <a class="navbar-brand" (click)="logout()">Medical App</a>
    <span class="user-role">Patient</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/patient/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
